@model Arac
@{
    ViewData["Title"] = Model.Marka.Name + " " + Model.Modeli;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            background-color: white; /* Arka plan rengini beyaza ayarladık */
        }

        .product-container {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        .product-image {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .product-title {
            font-size: 32px;
            font-weight: bold;
            margin-top: 20px;
        }

        .product-price {
            font-size: 24px;
            color: #e74c3c;
            margin-top: 10px;
        }

        .product-details {
            font-size: 18px;
            margin-top: 20px;
        }

        .product-notes {
            font-size: 16px;
            margin-top: 20px;
        }

        .quantity-input {
            max-width: 100px;
            font-size: 18px;
        }

        .buy-button {
            background-color: #e74c3c;
            color: #fff;
            font-size: 18px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Slider stilleri */
        #carouselExampleIndicators {
            max-width: 100%;
        }

        .carousel-indicators {
            bottom: 20px;
        }

            .carousel-indicators button {
                width: 10px;
                height: 10px;
                border: 2px solid #e74c3c;
                background-color: transparent;
                margin: 5px;
            }

            .carousel-indicators .active {
                background-color: #e74c3c;
            }
    </style>
</head>
<body>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-5">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/Img/Cars/@Model.Resim1" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/Img/Cars/@Model.Resim2" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/Img/Cars/@Model.Resim3" alt="First slide">
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Önceki</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Sonraki</span>
                        </a>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details">
                        <span class="small mb-1">SKU: BST-498</span>
                        <h1 class="product-title">@ViewData["Title"]</h1>
                        <div class="product-price">Fiyatı: @Model.Fiyati ₺</div>
                        <div class="product-details">Renk: @Model.Renk</div>
                        <div class="product-details">Model Yılı: @Model.ModelYili</div>
                        <p class="product-notes">@Model.Notlar</p>
                        <div class="d-flex align-items-center">
                            <input class="form-control text-center quantity-input" id="inputQuantity" type="number" value="1">
                            <button class="btn btn-outline-dark flex-shrink-0 buy-button" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi-cart-fill me-1"></i>
                                Bilgi Al
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<partial name="Musteri" model="null" />
